<%= simple_form_for (@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.input :name, label: "Restaurant's name", error: 'Please enter a name' %> <br>
    <%= f.input :address, label: "Restaurant's address",  error: 'Please enter an address' %> <br>
    <%= f.input :phone_number, label: "Restaurant's phone number"%> <br>
  <%= f.input :category, label: "Food category", collection: ["chinese", "italian", "japanese", "french", "belgian"] %> <br>
  <br>
  <%= f.submit "add a restaurant", class: "btn btn-primary" %>
<% end %>
