<% @restaurants.each do |restaurant| %>
<h3>  <%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
<h6><%= restaurant.category %></h6>
<p><%= restaurant.address %></p>
<p><%= restaurant.phone_number%></p>
<% end %>

<br>
<br>
 <%= link_to "Add a new restaurant", new_restaurant_path %>
