
<h3>  <%= @restaurant.name %></h3>
<h6><%= @restaurant.category %></h6>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number%></p>

<br>
<br>

<% @restaurant.reviews.each do |review| %>
<h5>Review:</h5>
<p>  <%=review.content %></p>
<p><%= review.rating %>/ 5</p>
<br>
<% end %>


<br>

<h4>Add your review</h4>

<%= simple_form_for [@restaurant, @review] do |f| %>
<%= f.input :content, label: 'Review', error: 'Please enter a review' %> <br>
  <%= f.input :rating, label: "Rating (please grade from 0 to 5)", collection: 0..5 %> <br>
  <br>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
